diffusers==0.15.0
transformers==4.26.0
datasets==2.10.1
accelerate==0.22.0
ftfy
tensorboard
Jinja2
tqdm
scipy
fire
wandb
safetensors
opencv-python
mediapipe
pynvml
cache
colorama
torchmetrics
pytorch-ignite
